# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=academic_api
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/academic_api

# JWT
JWT_SECRET=change_me_to_a_strong_random_secret_at_least_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Redis (para rate limiting futuro)
REDIS_URL=redis://localhost:6379

# Logs
LOG_LEVEL=debug
